.card-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;


}

#header_ssshht_logo{
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  width: 90%;
  margin-top: 5%;
}

#googleplaypng {
height: 50%;
width: 50%;
margin-top: 3%;
}

#appstorepng {
  height: 50%;
  width: 50%;
}

#googleplaypngwelcome {
  height: 25%;
  width: 25%;
  margin-top: 3%;
  }

  #appstorepngwelcome {
    height: 25%;
    width: 25%;
  }

#indir-text {
  margin-bottom: 3cqmin;
color: cornflowerblue;
}

#biz_kimiz {
  height: 100%;
  width: 100%;
}

#row2 {
  margin-top: 5%;
}

#row3 {
  margin-top: 10%;
  margin-bottom: 10%;
}


.nav-tabs{
  justify-content: center;
  margin-top: 1%;
  font-size: 150%;
}

@media screen and (max-width: 767px) {
  .card-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;


  }

  #header_ssshht_logo{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    height: 70%;
    width: 80%;
    margin-top: 5%;
  }

  .nav-tabs{
    justify-content: center;
  }

  #googleplaypng {
    height: 80%;
    width: 80%;
    margin-top: 3%;
    }

    #appstorepng {
      height: 80%;
      width: 80%;
    }

  #googleplaypngwelcome {
    height: 40%;
    width: 40%;
    margin-top: 2%;
    }

    #appstorepngwelcome {
      height: 40%;
      width: 40%;
    }

}
