<!doctype html>
<html lang="tr" data-bs-theme="auto">

<head>
  <script type="text/javascript"
    src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=zDJhx8YtF88feaTqEwbPmr3PcogNXZi5lH9Rc6mtlsoqOTBecvtAMAspYLmBCGuQsfqbDV2Wib1aL-xJHIx8QIYPc1essdOdFneMV52sbcU"
    charset="UTF-8"></script>
  <script src="/docs/5.3/assets/js/color-modes.js"></script>
  <meta charset="utf-8">
</head>

<body>


  <main>

    <!-- App links-->
<div class="bg-body-tertiary">
    <section class="py-5 text-center container ">
      <div class="text-center ">
        <div class="">
          <h1  id="indir-text"><strong>Reklam Vermek İçin Uygulamayı İndir </strong></h1>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><img id="appstorepngwelcome" class="" src="../../assets/app_store_indir.png"
                  alt=""></a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.ssshht.ssshht" target="_blank" class="text-white"><img id="googleplaypngwelcome" class=""
                  src="../../assets/google_play_indir.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </section>
    </div>

    <!-- welcome main-->
    <!-- row 1-->
    <div id="row1" class="row">

      <div class="col-sm-6 offset-md-1 py-5">
        <h4 class="text-center">BİZ KİMİZ</h4>
        <br>
        <p>2022 Yılında reklamcılık sektörüne yenilikçi yaklaşım ve uygulamalarımız ile potansiyel müşterilerinizle, ürün ve hizmetlerinizi buluşturmayı amaçlayan çevre dostu bir firmayız. </p>
      </div>
      <div class="col-sm-4">
        <img id="biz_kimiz" src="../../assets/welcome/biz_kimiz.png" alt="">
      </div>

    </div>

      <!-- row 2-->
    <div  id="row2" class="row bg-body-tertiary">
    <div class="col-sm-4">
        <img id="biz_kimiz" src="../../assets/welcome/urunlerimiz.jpeg" alt="">
      </div>

      <div class="col-sm-6 offset-md-1 py-5">
        <h4 class="text-center">ÜRÜNLERİMİZ</h4>
        <br>
        <p class="text-center">Yenilikçi bir yaklaşım ile kafe ve restorantlar aracılığında potensiyel müşteri kitlenize ulaşıyoruz</p>
      </div>


    </div>

      <!-- row 3-->

      <div  id="row3" class="row ">

          <div class="col-sm-6 offset-md-1 py-5">
            <h4 class="text-center">Müşrilerinize Ulaşmak Artık Çok Kolay</h4>
            <br>
            <p class="text-center">Uygulamamızı indirerek oturduğunuz yerden, markanızın nezaman ve nerede olmasına karar verin. Kalanını biz halledelim. </p>
          </div>

          <div class="col-sm-4">
            <img id="biz_kimiz" src="../../assets/welcome/kolaylastirici.jpeg" alt="">
          </div>
        </div>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
          <div class="col">
            <div class="card shadow-sm">
              <img id="" src="../../assets/welcome/ssshht_1.jpg" alt="">
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img id="" src="../../assets/welcome/ssshht_2.jpg" alt="">

            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img id="" src="../../assets/welcome/ssshht_3.jpg" alt="">

            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img id="" src="../../assets/welcome/ssshht_4.jpg" alt="">

            </div>
          </div>

        </div>
      </div>
    </div>

  </main>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
